/*
    === Color Palette ===
    GSW Blue:     #003DA5
    GSW Yellow:   #FFC72D
    Black:        #141115
    White:        #F4F4F4
    Fuschia:      #DEC5E3
*/


/* Global */
body {
  background-color: #F4F4F4;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #141115;
  letter-spacing: 0.075rem;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Neuton', serif;
  letter-spacing: 0.125rem;
}

section {
  padding: 4rem 0;
}

section:nth-of-type(odd) {
    background: #F4F4F4;
}

section:nth-of-type(even) {
    background: #fefefe;
}

label {
  font-weight: bold;
  padding-top: 0.5rem;
}

footer {
  text-align: center;
}

.vis {
  text-align: center;
  align-items: center;
  margin: 1rem 0;
}

/* Nav */
.navbar-dark {
  background: #141115;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-item {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.nav-item:hover {
  border: 0;
}

.nav-item a {
  color: #FFC72D;
}

.nav-item a:hover {
  color: #003DA5;
}

.nav-tabs {
  border-bottom: none;
}

.regression-line {
    stroke: #003DA5;
    fill: none;
    stroke-width: 3;
}

/* Top */
#top-container {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #141115;

  /* http://www.sandiegouniontribune.com/sports/sdut-virtual-reality-golden-state-warriors-kenny-lauer-2015may21-story.html*/
  background-image: url('../images/gsw-1.jpg');
  background-size: cover;
  background-position: top center;
}

#top-container h1 {
  text-align: center;
  color: #F4F4F4;
  font-size: 4rem;
}

#top-container h2 {
  color: #F4F4F4;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  text-align: center;
}

/* Bottom */
#bottom-photo {
  height: 90vh;

  /* http://images.performgroup.com/di/library/sporting_news/51/79/warriors-finals-getty-ftr-061615_1ckoo4lhtmtk613ok7lhqyatlb.jpg?t=-7589547 */  
  background-image: url('../images/gsw-2.jpg');
  background-size: cover;
  background-position: top center;
}

/* Shot Chart */

#shot-chart-selection {
  text-align: center;
  padding-top: 4rem;
}

#selected-logo {
  width: 50px;
  height: 50px;
  text-align: center;
  display: none;
}

#shot-chart-title {
  text-align: center;
}

/* Defender Distance Section */

#slider-caption {
  padding-bottom: 2rem;
}

#def-dist-slider .noUi-connect {
  background: #003DA5;
}

#def-dist-slider .noUi-tooltip {
  bottom: -170%;
}

/* Writers visualization */

#writer-vis {
  padding-bottom: 10px;
}

#writer-vis svg {
  fill: #E4E4E4;
  padding: 3px 0;
  width: 50px;
}

#writer-vis svg:first-of-type {
  fill: #FFC72D;
}

/* Scatter Plot */

/*  Tooltips for Scatterplot  */
/*  Modified from hw05 code   */

.tooltip-team {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
}

#tooltip-selected-logo {
  width: 10px;
  height: 10px;
}

.tooltip-table {
  margin-bottom: 0;
  font-size: 0.5rem;
}

#logos, #def-logos {
  text-align: center;
  padding-bottom: 1rem;
}

.logo-comparison {
  width: 15%;
}

#logo-comparison-other, #def-logo-comparison-other {
  display: none;
}

#logos-text, #def-logos-text {
  margin: 0;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 1; 
  pointer-events: none !important; 
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.circle {
  stroke: #141115;
}

.circle:hover {
  fill: #F4F4F4;
}

#scatter-plot {
  align-items: center;
  align-content: center;
  vertical-align: center;
  text-align: center;
}

#scatter-table, #defense-scatter-table {
  font-size: 0.75rem;
  display: none;
}

.heights {
  font-size: 0.6rem;
  letter-spacing: 0.01rem;
}

.label2 {
  font-size: 0.6rem;
  letter-spacing: 0.01rem;
  fill: #ffffff;
}

/* Footer */
.footer {
  padding-top: 1rem;
  color: #F4F4F4;
  background-color: #141115;
  position: absolute;
  width: 100%;
}
